

.perfil {
  display: flex;
  flex-direction: column; /* Asegura que los bloques principales estén en columnas */
  margin-top: 80px;
  padding: 0 20px;
  gap: 16px;
}

.infoPrincipal {
  display: flex; /* Alinea la imagen y los datos horizontalmente */
  flex-direction: row;
  align-items: flex-start; /* Centra verticalmente la imagen y el texto */
  gap: 20px; /* Espacio entre la imagen y el texto */
}

.fotoPerfil {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  border-radius: 50%; /* Hace la imagen redonda */
}
.infoPerfil {
  text-align: left; /* Alinea los datos en una columna */
  padding-top: 10px;
}

.datosAdicionales p {
  margin : 0;
  padding: 0; /* Elimina el margen y el padding de los párrafos */
}
