:root{
    font-family: poppins, sans-serif;
    background-color: lightblue;
}

Header{
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}

.TituloLogin{
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.BotonRegistro{
    color: black;
}

.TituloRegister{
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
}






